@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background: #ebeef5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__container {
  height: 90px;
}

.header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 991px) {
  .header .navbar {
    background: #ebeef5;
    padding-top: 52px;
  }
  .header .navbar::after {
    content: "";
    display: block;
    height: 114px;
    width: 100%;
    background: #ebeef5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
  }
}

.header__logo {
  padding: 0;
  margin-right: 1.30208vw;
}

@media (max-width: 991px) {
  .header__logo {
    margin: 0;
    width: 138px;
    height: 46px;
    position: relative;
    z-index: 20;
  }
  .header__logo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.header__menu {
  height: 90px;
  padding: 0;
  overflow: auto;
}

@media (max-width: 991px) {
  .header__menu {
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
}

.header__menu ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 25px;
}

@media (max-width: 991px) {
  .header__menu ul {
    margin-right: 0;
  }
}

.header__menu.show {
  overflow: auto;
  background: #ebeef5;
  padding: 98px 15px 0px;
  z-index: 12;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header__menu.show li {
  border-bottom: 1px solid rgba(43, 45, 58, 0.1);
  width: 100%;
}

.header__menu.show li svg {
  display: inline-block;
  fill: #2b2d3a;
  margin-right: 24px;
  width: 24px;
}

.header__menu.show li .svg-about {
  fill: none;
}

.header__menu.show li:hover svg {
  fill: #397dff;
}

.header__menu.show li:hover a {
  text-shadow: none;
  font-weight: 600;
}

.header__menu.show li:hover::after {
  display: none;
}

.header__menu.show li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu.show .btn-burger {
  display: block;
  margin: 32px auto;
  min-width: 343px;
  height: 42px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list svg {
  display: none;
}

.header__list:hover:after {
  content: "";
  width: 66%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #397dff;
  border-radius: 6px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.header__list:hover a {
  text-shadow: 0 0 3px #397dff;
  text-decoration: none;
}

.header__link {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 17px;
  color: rgba(43, 45, 58, 0.7);
  white-space: nowrap;
}

@media (max-width: 1020px) {
  .header__link {
    font-size: 12px;
  }
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.header__mail span {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  white-space: nowrap;
  color: #2b2d3a;
}

@media (max-width: 991px) {
  .header__mail span {
    color: #397dff;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}

.header__mail p {
  display: none;
}

@media (max-width: 991px) {
  .header__mail p {
    display: inline-block;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #2b2d3a;
  }
}

@media (max-width: 991px) {
  .header {
    height: 114px;
  }
}

.mail-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail-link svg {
  margin-right: 8px;
}

.callback {
  display: inline-block;
  padding-left: 56px;
  background: url("../img/phone_icon.svg") 24px center no-repeat;
  background-size: 24px 24px;
}

.callback:hover {
  text-decoration: none;
}

.callback__link {
  text-decoration: none;
  font-size: 11px;
  line-height: 11px;
  white-space: nowrap;
  color: #397dff;
  margin: 0;
  padding: 0;
  position: relative;
}

.callback__num {
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  color: #2b2d3a;
}

@media (max-width: 991px) {
  .callback {
    display: none;
  }
}

.navbar-light .navbar-toggler {
  outline: none;
  border: none;
  z-index: 20;
}

.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 24px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: url("../img/close_icon.svg") center no-repeat !important;
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
  margin: 5px;
}

.btn-burger {
  display: none;
}

.callback-popup {
  position: relative;
}

.callback-popup .close {
  position: absolute;
  display: inline-block;
  right: 24px;
  top: 16px;
  width: 20px;
  height: 20px;
}

.callback-popup .close:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 1;
}

.callback-popup {
  position: fixed;
}

.callback-popup__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 32px 42px 48px 42px;
  width: 538px;
  height: 407px;
  border-radius: 16px;
}

.callback-popup__body p {
  font-size: 16px;
  line-height: 160%;
  color: #2b2d3a;
  margin-top: 12px;
  margin-bottom: 28px;
}

.callback-popup__form .input1 {
  border-radius: 9px !important;
  height: 48px;
  font-size: 16px;
  line-height: 100%;
}

.callback-popup__form .input1:first-child {
  margin-bottom: 24px;
}

.callback-popup__btnsend {
  width: 100%;
  height: 52px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.callback-popup .modal-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #2b2d3a;
}

.callback-popup .modal-body {
  padding: 0 !important;
}

.callback-popup .form-check {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.callback-popup .form-check-label {
  font-size: 14px;
  line-height: 17px;
  margin-left: 5px;
}

.callback-popup .form-check-label span {
  color: #397dff;
}

.callback-popup .form-check-input + label::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid gray;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center center;
}

.callback-popup .form-check-input:checked + label::before {
  border: 1px solid #397dff;
  background-image: url("../img/check.svg");
}

.callback-popup input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.send-popup {
  text-align: center;
}

.send-popup .send-text {
  margin-bottom: 32px;
}

.send-popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.send-popup .send__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 160px;
}

.send-popup .send__image svg {
  position: relative;
  z-index: 3;
}

.send-popup .send__image:after {
  z-index: 2;
  position: absolute;
  display: block;
  content: "";
  width: 78px;
  height: 78px;
  border-radius: 50%;
  border: 1px solid #397dff;
  -webkit-animation: bit 1.4s linear infinite 0.3s;
          animation: bit 1.4s linear infinite 0.3s;
}

@-webkit-keyframes bit {
  0% {
    width: 78px;
    height: 78px;
    background: #f2f4f7;
  }
  100% {
    width: 160px;
    height: 160px;
    background: #f2f4f7;
  }
}

@keyframes bit {
  0% {
    width: 78px;
    height: 78px;
    background: #f2f4f7;
  }
  100% {
    width: 160px;
    height: 160px;
    background: #f2f4f7;
  }
}

.promo {
  color: #fff;
  position: relative;
  padding-top: 90px;
  background: #ebeef5;
}

.promo .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__text-block {
  min-width: 300px;
}

@media (max-width: 500px) {
  .promo__text-block {
    padding-top: 36px;
  }
}

.promo__text-block h2 {
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 660px) {
  .promo__text-block h2 {
    font-size: 14px;
    line-height: 17px;
  }
}

.promo__text-block h1 {
  margin: 12px 0px 24px 0px;
  width: 100%;
  font-weight: 600;
  font-size: 52px;
  line-height: 63px;
  white-space: nowrap;
}

@media (max-width: 1160px) {
  .promo__text-block h1 {
    font-size: 40px;
  }
}

@media (max-width: 1060px) {
  .promo__text-block h1 {
    font-size: 32px;
  }
}

@media (max-width: 660px) {
  .promo__text-block h1 {
    font-size: 30px;
    line-height: 37px;
  }
}

@media (max-width: 374px) {
  .promo__text-block h1 {
    white-space: pre-wrap;
  }
}

.promo__text-block p {
  width: 30.72917vw;
  min-width: 300px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 54px;
}

@media (max-width: 660px) {
  .promo__text-block p {
    font-size: 14px;
    left: 21px;
    margin-bottom: 32px;
  }
}

.promo .promo-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border-radius: 8px;
  width: 186px;
  height: 48px;
}

@media (max-width: 480px) {
  .promo .promo-btn {
    width: 158px;
    height: 42px;
    font-size: 14px;
    line-height: 17px;
  }
}

.promo .btn-callback {
  border: 1px solid #ffffff;
  margin-right: 24px;
  margin: 0 auto;
}

.promo .btn-brief {
  background: #397dff;
  border-radius: 8px;
}

.promo .item-slider {
  width: 322px !important;
  height: 205px !important;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding-right: 34px;
  margin-left: 38px;
}

@media (max-width: 600px) {
  .promo .item-slider {
    width: 310px !important;
  }
}

.promo .item-slider:first-child {
  margin-left: 0;
}

.promo .item-slider__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  color: #397dff;
}

.promo .item-slider__text {
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
}

.promo__slider {
  width: 515px !important;
  height: 271px;
  margin: 0 auto;
  background: #6d6d7d;
}

@media (min-width: 920px) {
  .promo__slider {
    position: absolute !important;
    z-index: 20;
    top: 10.3125vw;
    right: 0;
    background: none;
  }
}

@media (max-width: 600px) {
  .promo__slider {
    width: 83.33333vw !important;
    min-width: 320px;
    margin: 0 auto;
  }
}

/* Слайдер */
.slick-slider {
  position: relative;
}

/* Ограничивающая оболочка */
.slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Лента слайдов */
.slick-track {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд активный (показывается) */
.slick-slide.slick-active {
  z-index: 100 !important;
}

/* Стрелка */
.slick-arrow {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 0;
  border: none;
  outline: none;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  background: url(../img/arrownext.svg) 0 0 no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  left: 74px;
  background: url(../img/arrownext.svg) 0 0 no-repeat;
}

/* Стрелка не активная */
.slick-arrow.slick-disabled.slick-prev {
  background: url(../img/arrowdisable.svg) 0 0 no-repeat;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.slick-arrow.slick-disabled.slick-next {
  background: url(../img/arrowdisable.svg) 0 0 no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slick-arrow:focus,
.slick-arrow:active {
  outline: none;
  border: none;
}

.big-slider {
  z-index: 8;
}

.big-slider__item {
  width: 100%;
  height: 32.5vw;
  min-height: 363px;
  padding-top: 6.40625vw;
  padding-bottom: 10.83333vw;
}

@media (max-width: 1328px) {
  .big-slider__item {
    height: auto;
  }
}

.big-slider .item-1 {
  background: url("../img/img1.1.jpg") 0 0 no-repeat;
  background-size: cover;
}

.big-slider .item-2 {
  background: url("../img/img12.jpg") 0 0 no-repeat;
  background-size: cover;
}

.big-slider .item-3 {
  background: url("../img/img1.jpg") 0 0 no-repeat;
  background-size: cover;
}

.block {
  position: relative;
  padding-top: 150px;
  background: #ebeef5;
}

.block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32.29167vw;
  min-height: 200px;
}

.block__item1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

.block__item1 img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.block__item2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

.block__item2 img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 800px) {
  .block__item2 img {
    -o-object-fit: fill;
       object-fit: fill;
  }
}

.btn__over {
  background: url(../img/plus.svg) center no-repeat;
  background-color: #397dff;
}

@media (max-width: 767px) {
  .btn__over {
    background: url(../img/btnExit.svg) center no-repeat;
    background-color: #397dff;
  }
}

.item2__btn {
  position: relative;
  display: inline-block;
  z-index: 5;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 1px solid #397dff;
}

@media (max-width: 600px) {
  .item2__btn {
    width: 20px;
    height: 20px;
    padding: 0;
  }
}

.btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  border: 1px solid #397dff;
  background: rgba(57, 125, 255, 0.15);
  position: absolute;
  z-index: 3;
}

@media (max-width: 600px) {
  .btn__body {
    width: 40px;
    height: 40px;
  }
}

.btn-1 {
  top: 11.77419%;
  left: 17.91667%;
}

@media (max-width: 1320px) {
  .btn-1 {
    top: 10%;
    left: 16.2%;
  }
}

@media (max-width: 992px) {
  .btn-1 {
    top: 8%;
    left: 14.2%;
  }
}

@media (max-width: 800px) {
  .btn-1 {
    top: 6.5%;
    left: 12.5%;
  }
}

@media (max-width: 667px) {
  .btn-1 {
    top: 3.5%;
    left: 10.5%;
  }
}

@media (max-width: 600px) {
  .btn-1 {
    top: 9.5%;
    left: 14.5%;
  }
}

@media (max-width: 375px) {
  .btn-1 {
    top: 8.5%;
    left: 11.5%;
  }
}

.btn-2 {
  top: 11.77419%;
  right: 20.625%;
}

@media (max-width: 1320px) {
  .btn-2 {
    top: 10%;
    right: 19.2%;
  }
}

@media (max-width: 992px) {
  .btn-2 {
    top: 8%;
    right: 17.2%;
  }
}

@media (max-width: 800px) {
  .btn-2 {
    top: 6.5%;
    right: 15.5%;
  }
}

@media (max-width: 667px) {
  .btn-2 {
    top: 3.5%;
    right: 13.5%;
  }
}

@media (max-width: 600px) {
  .btn-2 {
    top: 9.5%;
    right: 18.5%;
  }
}

@media (max-width: 375px) {
  .btn-2 {
    top: 8.5%;
    right: 14.5%;
  }
}

.block-popup {
  opacity: 0;
  visibility: hidden;
  position: relative;
  position: absolute;
  bottom: 50px;
  z-index: 999;
}

@media (max-width: 375px) {
  .block-popup {
    right: -100px;
    bottom: 35px;
  }
}

.block-popup__content {
  position: relative;
  z-index: 7;
  width: 352px;
  height: 189px;
  padding: 17px 16px 15px 24px;
  border: none;
  -webkit-box-shadow: 10px 16px 32px rgba(17, 17, 17, 0.08);
          box-shadow: 10px 16px 32px rgba(17, 17, 17, 0.08);
}

.block-popup__content::after {
  position: absolute;
  z-index: 7;
  bottom: -6px;
  left: 50%;
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background: #fff;
  -webkit-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
  -webkit-box-shadow: 10px 16px 32px rgba(17, 17, 17, 0.08);
          box-shadow: 10px 16px 32px rgba(17, 17, 17, 0.08);
}

@media (max-width: 375px) {
  .block-popup__content::after {
    left: 63%;
  }
}

@media (max-width: 600px) {
  .block-popup__content {
    width: 323px;
  }
}

.block-popup__btnclose {
  display: inline-block;
  z-index: 1;
  outline: none;
  border: none;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 17px;
  right: 16px;
  background: url(../img/close_icon.svg) center no-repeat;
  background-size: 12px 12px;
}

.block-popup__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.block-popup__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #2b2d3a;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 154px;
          flex: 0 0 154px;
  margin-right: 86px;
}

@media (max-width: 375px) {
  .block-popup__title {
    margin-right: 77px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 144px;
            flex: 0 0 144px;
  }
}

.block-popup__img {
  position: relative;
  width: 44px;
  height: 44px;
}

.block-popup__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 600px) {
  .block-popup__img {
    width: 38px;
    height: 38px;
  }
}

.block-popup__menu {
  width: 100%;
  padding-left: 24px;
  margin: 0;
  margin-top: 12px;
}

.block-popup__menu li {
  position: relative;
  z-index: 8;
  font-size: 12px;
  line-height: 17px;
  color: #2b2d3a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.block-popup__menu li:last-child {
  margin-bottom: 0;
}

.block-popup__menu li::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  left: -24px;
  background: url("../img/liststyle.svg") 0 0 no-repeat;
}

.popover-body {
  display: none;
}

.popover-header {
  padding: 0px 0px 0px 0px;
}

.footer {
  height: 90px;
}

.social-menu {
  background: black;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.social-menu .social-list {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-menu .social-link {
  position: relative;
  z-index: 10;
  width: 40px;
  height: 40px;
  -webkit-transition: -webkit-transform .5s ease 0s;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s, -webkit-transform .5s ease 0s;
}

.social-menu .social-link:active {
  -webkit-transform: scale(10);
          transform: scale(10);
  width: 100%;
  height: 100%;
}

.social-menu .social-link svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  fill: white;
  -webkit-animation: askom infinite ease 5s;
          animation: askom infinite ease 5s;
}

.social-menu .social-link:hover svg,
.social-menu .social-link:active svg,
.social-menu .social-link:focus svg {
  fill: red;
}

.social-menu .vk-link {
  -webkit-animation: move .8s infinite linear 1s;
          animation: move .8s infinite linear 1s;
}

@-webkit-keyframes askom {
  0% {
    fill: yellowgreen;
  }
  25% {
    fill: red;
  }
  50% {
    fill: white;
  }
  75% {
    fill: blue;
  }
}

@keyframes askom {
  0% {
    fill: yellowgreen;
  }
  25% {
    fill: red;
  }
  50% {
    fill: white;
  }
  75% {
    fill: blue;
  }
}

@-webkit-keyframes move {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
  }
}

@keyframes move {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
  }
}

body {
  font-family: "Montserrat";
  line-height: 12px;
}

body.lock {
  overflow: hidden;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1170px;
  min-width: 320px;
}

.block-popover {
  padding-top: 50px;
  position: relative;
  z-index: 20;
}

.block-popover .btn {
  color: red;
}

.showme {
  opacity: 1;
  visibility: visible;
}

.out {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

.remove-bg {
  background-color: transparent;
}
