.block {
   position: relative;
   padding-top: 150px;
   background: #ebeef5;
   &__body {
   }

   &__content {
      display: flex;
      height: 620px/1920px * 100vw;
      min-height: 200px;
   }

   &__item1 {
      flex: 0 1 50%;
      position: relative;
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
      }
   }

   &__item2 {
      flex: 0 1 50%;
      position: relative;
      img {
         position: absolute;
         z-index: 1;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
         @media (max-width: 800px) {
            object-fit: fill;
         }
      }
   }
}
//можно сделать чтобы икнонка кнопки была видна при ховере,актив,фокусу
.btn__over {
   background: url(../img/plus.svg) center no-repeat;
   background-color: #397dff;
   // background-size: cover;

   @media (max-width: 767px) {
      background: url(../img/btnExit.svg) center no-repeat;
      background-color: #397dff;
   }
}
.item2__btn {
   position: relative;
   display: inline-block;
   z-index: 5;
   width: 27px;
   height: 27px;
   border-radius: 50%;
   border: 1px solid #397dff;
   @media (max-width: 600px) {
      width: 20px;
      height: 20px;
      padding: 0;
   }

   // &:active,
   // &:focus{
   //    background: url(../img/plus.svg) center no-repeat;
   //    background-color: #397dff;
   // }
}
.btn__body {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 73px;
   height: 73px;
   border-radius: 50%;
   border: 1px solid #397dff;
   background: rgba(57, 125, 255, 0.15);
   position: absolute;
   z-index: 3;
   @media (max-width: 600px) {
      width: 40px;
      height: 40px;
   }
}
.btn-1 {
   top: 73px/620px * 100%;
   left: 172px/960px * 100%;
   @media (max-width: 1320px) {
      top: 10%;
      left: 16.2%;
   }
   @media (max-width: 992px) {
      top: 8%;
      left: 14.2%;
   }
   @media (max-width: 800px) {
      top: 6.5%;
      left: 12.5%;
   }
   @media (max-width: 667px) {
      top: 3.5%;
      left: 10.5%;
   }
   @media (max-width: 600px) {
      top: 9.5%;
      left: 14.5%;
   }
   @media (max-width: 375px) {
      top: 8.5%;
      left: 11.5%;
   }
}
.btn-2 {
   top: 73px/620px * 100%;
   right: 198px/960px * 100%;

   @media (max-width: 1320px) {
      top: 10%;
      right: 19.2%;
   }
   @media (max-width: 992px) {
      top: 8%;
      right: 17.2%;
   }
   @media (max-width: 800px) {
      top: 6.5%;
      right: 15.5%;
   }
   @media (max-width: 667px) {
      top: 3.5%;
      right: 13.5%;
   }
   @media (max-width: 600px) {
      top: 9.5%;
      right: 18.5%;
   }
   @media (max-width: 375px) {
      top: 8.5%;
      right: 14.5%;
   }
}

.block-popup {
   opacity: 0;
   visibility: hidden;
   position: relative;
   position: absolute;
   bottom: 50px;
   z-index: 999;
   @media (max-width: 375px) {
      right: -100px;
      bottom: 35px;
   }
   &__content {
      position: relative;
      z-index: 7;
      width: 352px;
      height: 189px;
      padding: 17px 16px 15px 24px;
      border: none;
      box-shadow: 10px 16px 32px rgba(17, 17, 17, 0.08);
      &::after {
         position: absolute;
         z-index: 7;
         bottom: -6px;
         left: 50%;
         display: block;
         content: "";
         width: 24px;
         height: 24px;
         border-radius: 2px;
         background: #fff;
         transform: translate(-50%) rotate(45deg);
         box-shadow: 10px 16px 32px rgba(17, 17, 17, 0.08);
         @media (max-width: 375px) {
            left: 63%;
         }
      }
      @media (max-width: 600px) {
         width: 323px;
      }
   }
   &__btnclose {
      display: inline-block;
      z-index: 1;
      outline: none;
      border: none;
      position: absolute;
      width: 12px;
      height: 12px;
      top: 17px;
      right: 16px;
      background: url(../img/close_icon.svg) center no-repeat;
      background-size: 12px 12px;
   }
   &__body {
   }

   &__header {
      width: 100%;
      display: flex;
      justify-content: flex-start;
   }

   &__title {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #2b2d3a;
      flex: 0 0 154px;
      margin-right: 86px;
      @media (max-width: 375px) {
         margin-right: 77px;
         flex: 0 0 144px;
      }
   }

   &__img {
      position: relative;
      width: 44px;
      height: 44px;
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
      }
      @media (max-width: 600px) {
         width: 38px;
         height: 38px;
      }
   }

   &__menu {
      width: 100%;
      padding-left: 24px;
      margin: 0;
      margin-top: 12px;

      li {
         position: relative;
         z-index: 8;
         font-size: 12px;
         line-height: 17px;
         color: #2b2d3a;
         display: flex;
         margin-bottom: 10px;
         &:last-child {
            margin-bottom: 0;
         }
         &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 100%;
            top: 0;
            left: -24px;
            background: url("../img/liststyle.svg") 0 0 no-repeat;
         }
      }
   }
}

.popover-body {
   display: none;
}
.popover-header {
   padding: 0px 0px 0px 0px;
}
